<div class="col-lg-10 user-view">
  <div class="user-view-box">
    <div class="update-content">
      <div class="row">
        <h2>プロフィール</h2>
      </div>
      <form class="edit_user" id="edit_user_1483" enctype="multipart/form-data" action="/users/profile" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="PZCr6G3+n5/bo2KYWD8ATQv9JE8ONDbKJF+f9w/ASLES/R/vl4vUY2P63MVgrZ8F0qsGLtmY1Za1M90YqmfRpw==">
                    <div class="update-content">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="icon-box">
                                    <img alt="アイコン画像" class="icon-image host-icon" src="/uploads/user/image/1483/96DAD0A3-8802-4D0A-9F10-F6A4D8504B76.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="image">アイコン画像</label>
                            <input class="mb-4 col-md-9" placeholder="アイコン画像をアップロード" type="file" name="user[image]" id="user_image">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="name">名前</label>
                            <input class="form-control mb-4 col-md-9" placeholder="名前を入力" type="text" value="<%= @user.name %>" name="user[name]" id="user_name">
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <label class="col-md-3 required-a" for="introduction">自己紹介</label>
                            <textarea rows="5" class="form-control mb-4 col-md-9" placeholder="自己紹介を入力" name="user[introduction]" id="user_introduction"></textarea>
                        </div>
                    </div>
                    <div class="update-content">
                        <div class="row">
                            <input type="submit" name="commit" value="更新" class="col-md-2 btn btn-primary mx-3" data-disable-with="更新">
                        </div>
                    </div>
                    <div class="horyuu">
                      <%= link_to "アカウント編集へ", edit_user_registration_path %>
                    </div>
      </form>
    </div>
  </div>
</div>